<%- include('partials/header') -%>

<body>
<h2 class="text-5xl font-bold">Spaces</h2>

  <button class="btn">Filter <i class="fa-solid fa-filter"></i></button>
  <div class="card w-96  w-1/2 bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="card-actions justify-end">
      </div>
      <h2><i class="fa-solid fa-map-pin"></i> Location</h2>
      <input type="checkbox" checked="unchecked" class="checkbox" /> <p>The Bronx</p>
      <input type="checkbox" checked="unchecked" class="checkbox" /><p>Brooklyn</p>
      <input type="checkbox" checked="unchecked" class="checkbox" /> <p>Manhattan</p>
      <input type="checkbox" checked="unchecked" class="checkbox" /><p>Queens</p>
    </div>
  </div>
    <% arrayOfData.forEach(data => { %>
        <div class="card w-1/3  ">
          <div class="flex-container">

          <div class="card-body">
            <form
            class="col-1"
            action="/like-event/<%= data.opportunity_id %>" 
            method="GET"
          >
            <button class="btn-save fa fa-bookmark" type="submit"></button>
          </form>
            <h2 class="card-title"> <em><%= %></h2>
                <p class="card-title"> <em><%= data.recurrence_type %></p>
                <div class="card-actions justify-end">
   <p><i class="fa-solid fa-map-pin"></i> <%= data.borough %></p>
            <h2>  <%=data.summary %></h2>
<a href="<%= data.display_url %>"> <i class="fa-solid fa-tag"></i> <%=data.category_desc %></a>
                </div>
          </div>
        </div>
        </div>
      <% }) %>
      <div class="btn-group">
        <button class="btn">«</button>
        <button class="btn">Page 22</button>
        <button class="btn">»</button>
      </div>
  </body>
</html>
