<%- include('partials/header') -%>
  <div class="container">
    <h2 class="text-5xl font-bold"><%= post.userName %>'s <Ri:a>Thread</Ri:a></h2>
    <div class="row justify-content-center mt-5">
      <div class="col-6">
        <img class="post-img" src="<%= post.image%>" />
        <div class="row justify-content-between">
          <form class="col-1" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
            <button class="btn btn-success fa fa-heart" type="submit"></button>
          </form>
          <%if(post.likes >= 1)  {%>
            <p class="likes"><i class="fa fa-heart"> </i> <%=post.likes %></p>
             <%}else {%>
              <p class="likes">No likes yet. Be the first!</p>
              <% } %>
          <%if(post.user==user.id){ %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
              <button class="trash-btn btn-error fa fa-trash" type="submit"></button>
            </form>
            <%}%>
            <p class="description">
              Title <%= post.title %>
             </p>
             <p class="description">
              Caption <%= post.caption %>
             </p>
             <p class="post-time"><i class="fa-solid fa-clock"></i> <%=post.createdAt %></p>
        </div>
      </div>
      <div class="col-3 mt-5">
      </div>
      <div class="container">
        <div class="row justify-content-center mt-5">
          <h2 class="text-3xl font-bold">Comments:</h2>

          <ul class="row list-unstyled">
            <% for(var i=0; i< comment.length; i++) {%>
              <% if (comment[i].deleted == false){ %>
              <li class="col-6 justify-content-between mt-5">
                <%= comment[i].comment %>
                  <form class="col-1" action="/comment/likeComment/<%= comment[i]._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="postid" value="<%= post.id %>">
                  </form>
                  <%if(post.user==user.id){ %>
                    <form action="/comments/deleteComment/<%= comment[i].id %>?_method=PUT" method="POST" class="col-3">
                      <button class="trash-btn fa fa-trash" type="submit"></button>
                      <input type="hidden" name="postid" value="<%= post.id %>">
                    </form>
                    <%}%>
                  </h3>
              </li>
              <% } %>
              <% } %>
          </ul>
        </div>
      </div>
<!-- Comments Section -->
      
      <div class="mt-5">
        <form action="/comments/createComment/<%= post.id %>" method="POST">
          <div class="mb-3">
            <span class="label-text">Comment:</span>

            <label for="comment" class="form-label" ></label>
            <input type="text" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-success"> Submit!</button>
        </form>
      </div>
      <div class="col-6 mt-5">
        <a class="btn" href="/feed"> Back to Reflections</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>